@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* { 
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: rgb(72,200,248);
background: linear-gradient(171deg, rgba(72,200,248,1) 0%, rgba(61,51,146,1) 100%, rgba(237,112,220,1) 100%);
}
.completed {
  color: #427D9D;
  text-decoration: line-through;
  transition: 500ms ease-in-out;
  transition-delay: 100ms;
  }

  .incompleted
  {
  transition: 500ms ease-in-out;
  transition-delay: 100ms;
  }

  
